# This is Git's per-user configuration file.

[user]
	name = Devan Beitel
	email = devan@devanb.us
	signingkey = 6C04A075
[core]
	excludesfile = /Users/devanbeitel/.gitignore_global
	editor = vim
[gpg]
	program = gpg
